# Syncd config
# https://github.com/dkebler/syncd/blob/master/README.md
#
# The directory being watched & synced.
# use absolute machine path! NO following /
WATCH_DIR=/home/david

# Watch-related options
WATCH_EXCLUDE='(\.git|___jb_)'
# Whether to enable verbosity. If enabled (1), change events are output.
WATCH_VERBOSE=0

# SSH connection settings
# if SSH variables are commented then syncd will be local to local
# using configs from .ssh/config file
#SSH_USER=sysadmin
#SSH_HOST=headless

# rsync command - best to study rsync here for details on getting the sync you want
# use absolute target path and following /
TARGET_DIR="/opt/test/"
# For exclude lists found in the /exclude directory of the repo $1 below will be the script directory
EXCLUDES_DIR="$1/excludes"
# otherwise don't use $EXCLUDES_DIR and use absolute paths.
# Put all your --exclude-from and --exclude in this one variable below
RSYNC_EXCLUDE="--exclude-from $EXCLUDES_DIR/exclude.list --exclude-from $EXCLUDES_DIR/media-exclude.list --exclude build/Release/"
# put all switches options in this one variable below except for your excludes above
# a for archive(permissions etc) H to preserve any hardlinks
RSYNC_OPTIONS="-aH -x -v --delete --delete-during --delete-excluded"

# log and pid files in directory of the same in jobs folder of syncd install

# ALWAYS so a 'run' first to make sure it syncs as intended.
# It's way easy to make a mess and you'll want to break out if there are mistakes/issues
